$color_data: (
    'main_font_color': #212121,
    'accent_color': #F46A35,
    'border_color': #EDEFEE,
    'footer_color': #171717,
    'white_color': white,
);
$radius: (
    'box_radius': 30px,
    'card_radius': 10px,
);
$font_family: (
    'nav': "Roboto" sans-serif,
    'title': "Arial",
    'main_text': "Verdana"
);